.help-us {
    padding: 80px 0;
    overflow: hidden;

    &__title {
        color: var(--Black, #303031);
        text-align: center;
        font-family: Righteous;
        font-size: 48px;
        font-weight: 400;
        line-height: 64px;
    }

    &__subtitle {
        color: var(--Black, #303031);
        text-align: center;
        font-family: League Spartan;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: -0.36px;
        max-width: 830px;
        margin: 0 auto;
        margin-top: 24px;
    }
}

.swiper{
    padding: 48px 0;

    &-slide {
        display: flex;
        justify-content: center;
        padding: 10px;

        &__card{
            width: 380px;
            height: fit-content;
            border-radius: 16px;
            background: var(--White, #FFF);
            box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
        }

        &__box {
            display: flex;
            flex-direction: column;
            padding: 24px;
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &__title {
            color: var(--Black, #303031);
            font-family: Inconsolata;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: -0.36px;
            max-width: 369px;
        }

        &__descroption {
            color: var(--Black, #303031);
            font-family: Inconsolata;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.32px;
            max-width: 359px;
        }

        &__bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 24px;
        }

        &__share {
            display: flex;
            justify-content: center;
            padding: 4px 8px;
            text-align: center;
            border-radius: 40px;
            background: var(--Green, #71A894);
            width: auto;
            align-items: center;
            gap: 10px;
            // height: 24px;
        }

        &__text {
            color: var(--White, #FFF);
            font-family: Inconsolata;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.32px;
            text-transform: uppercase;
        }

        &__date {
            color: var(--Black, #303031);
            text-align: right;
            font-family: Inconsolata;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: -0.32px;
        }
    }

    &-pagination-bullet-active {
        background-color: var(--Green, #71A894);
    }
}