.hero {
    padding: 151px 0 236px;
    overflow: hidden;
}

.hero__container {
    position: relative;
}

.hero__new-model {
    max-width: 608px;
}

.hero__title {
    color: var(--Black, #303031);
    font-family: Righteous;
    font-size: 64px;
    font-weight: 400;
    line-height: 80px;
}

.hero__subtitle {
    color: var(--Gray, #66645E);
    font-family: League Spartan;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.48px;
    margin-top: 24px;
}

.hero__images {
    position: absolute;
    width: 1012px;
    height: 719.628px;
    top: -132px;
    right: 0;
}

.hero__clap-image {
    position: absolute;
    top: -45px;
    right: -190px;
}

.hero__background-image {
    position: absolute;
    z-index: -1;
    top: -1px;
    right: -190px;
}   

.hero__button {
    color: white;
    background-color: #71A894;
    cursor: pointer;
    font-family: League Spartan;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px; 
    padding: 20px 24px;
    border-radius: 8px;
    margin-top: 40px;
}