.hero {
    padding: 151px 0 354px;
    overflow: hidden;

    &__container {
        position: relative;
    }

    &__new-model {
        max-width: 608px;
    }

    &__title {
        color: var(--Black, #303031);
        font-family: Righteous;
        font-size: 64px;
        font-weight: 400;
        line-height: 80px;
    }

    &__subtitle {
        color: var(--Gray, #66645E);
        font-family: League Spartan;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.48px;
        margin-top: 24px;
    }

    &__images {
        position: absolute;
        width: 1012px;
        height: 719.628px;
        top: -132px;
        right: 0;
    }

    &__clap-image {
        position: absolute;
        z-index: -1;
        top: -45px;
        right: -190px;
    }

    &__background-image {
        position: absolute;
        z-index: -2;
        top: -1px;
        right: -190px;
    }   

    &__button {
        color: white;
        background-color: #71A894;
        font-family: League Spartan;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px; 
        padding: 20px 24px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 1250px) {
    .hero {
        padding: 80px 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .hero__images {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .hero__title {
        font-size: 55px;
        font-weight: 500;
    }
}

@media screen and (max-width: 320px) {
    .hero__title {
        font-size: 47px;
        font-weight: 600;
    }
}