.footer .container {
    align-items: center;
    display: flex;
}

.footer__logo {
    color: var(--Black, #303031);
    font-family: League Spartan;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.96px;
    cursor: pointer;
}

.footer__f-navigation {
    margin-left: auto;
}

.f-navigation__list {
    padding: 32px 0;
    gap: 40px;
    list-style-type: none;
    display: flex; 
}

.f-navigation__button {
    color: var(--Black, #303031);
    font-family: League Spartan;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.4px;
    cursor: pointer;
}

.f-navigation__other-button {
    color: var(--Green, #71A894);
    font-family: League Spartan;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.4px;
    cursor: pointer;
}