.footer .container {
    align-items: center;
    display: flex;
}

.footer__logo {
    color: var(--Black, #303031);
    font-family: League Spartan;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.96px;
}

.footer__navigation {
    margin-left: auto;
}   