<section class="committed-contributors">
    <div class="container committed-contributors__container">
        <div class="committed-contributors__text">
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none">
                <use href="./img/icons/icons.svg#icon6"></use></svg>
            <h2 class="committed-contributors__title title">Engage highly committed contributors</h2>
            <p class="committed-contributors__subtitle subtitle">You need talented people on-demand across various tasks that your full-time workforce
                 can’t prioritize at the moment. As an Open Enterprise, you can easily fund tasks and have people apply to work on them in return
                 for funds or shares.</p>
        </div>
    

        <div class="committed-contributors__interface interface">
            <div class="interface__write-a-how write-a-how">
                <div class="write-a-how__box">
                    <div class="write-a-how__list">
                    <h3 class="write-a-how__title">Write a how-to on Open Enterprise</h3>
                    <p class="write-a-how__descroption">Looking for an amazing copywriter using Open Enterprise to help
                        us write an article on how to get started.</p>
                    </div>

                    <div class="write-a-how__share">
                        <p class="write-a-how__text">1 share</p>
                    </div> 
                </div>  
            </div>

            <div class="interface__applicants applicants">
                <div class="applicants__box">
                    <ul class="applicants__list">
                        <h3 class="applicants__title">3 applicants</h3>

                        <li>
                            <div class="applicants__card">
                                <img src="@img/jason.jpg" alt="man" class="applicants__photo">
                                <h4 class="applicants__name">Jason Kwon</h4>
                            </div>

                            <div class="applicants__rating">
                                <svg width="20" height="19" viewBox="0 0 20 19" fill="none">
                                    <use href="./img/icons/icons.svg#star"></use></svg>
                                <p class="applicants__grade">4.8</p>   
                            </div>
                        </li>
    
                        <li>
                            <div class="applicants__card">
                                <img src="@img/alex.jpg" alt="man" class="applicants__photo">
                                <h4 class="applicants__name">Alex Rose</h4>
                            </div>

                            <div class="applicants__rating">
                                <svg width="20" height="19" viewBox="0 0 20 19" fill="none">
                                    <use href="./img/icons/icons.svg#star"></use></svg>
                                <p class="applicants__grade">4.5</p>   
                            </div>
                        </li>
    
                        <li>
                            <div class="applicants__card">
                                <img src="@img/lizzie.jpg" alt="man" class="applicants__photo">
                                <h4 class="applicants__name">Lizzie Ulrich</h4>
                            </div>

                            <div class="applicants__rating">
                                <svg width="20" height="19" viewBox="0 0 20 19" fill="none">
                                    <use href="./img/icons/icons.svg#star"></use></svg>
                                <p class="applicants__grade">4.2</p>   
                            </div>
                        </li>
                    </ul>    
                </div>
            </div>

            <div class="interface__user user">
                <div class="user__container">
                    <div class="user__list">
                        <div class="user__title">
                            <img src="@img/alex.jpg" alt="woman" class="user__photo">
                            <div class="user__text">
                                <h4 class="user__name">Alex Rose</h4>
                                <p class="user__post">UX Writer</p>
                            </div>
                        </div>
                        
                        <div class="user__label">
                            <p class="user__commits">4 commits</p>
                            <div class="user__rating">
                                <svg width="20" height="19" viewBox="0 0 20 19" fill="none">
                                    <use href="./img/icons/icons.svg#star"></use></svg>
                                <p class="user__grade">4.5</p>   
                            </div>
                        </div>
                        
                        <button class="user__button" type="button">View profile</button>
                    </div>
                </div>
            </div> 
        </div> 
    </div>   
</section>