<section class="help-us">
    <div class="container help-us__container">
        <h2 class="help-us__title title">Help us improve Open Enterprise</h2>
        <p class="help-us__subtitle subtitle">As an Open Enterprise ourselves, we are actively looking for new talent to
            join our mission
            of improving and delivering the Open Enterprise model to the world. Apply for open tasks and earn a stake in
            our success.</p>

        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="testimonials__card">
                        <div class="testimonials__box">
                            <div class="testimonials__content">
                                <h3 class="testimonials__title">Ideate a list of features based on the Sociocracy model
                                </h3>
                                <p class="testimonials__descroption">We’re looking for someone interested in business
                                    theory and
                                    research that’ll help us bridge the gap between our s...</p>
                            </div>

                            <div class="testimonials__bottom">
                                <div class="testimonials__share">
                                    <p class="testimonials__text">5</p>
                                    <p class="testimonials__text">aut</p>
                                </div>
                                <p class="testimonials__date">Apply by May 15</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonials__card">
                        <div class="testimonials__box">
                            <div class="testimonials__content">
                                <h3 class="testimonials__title">Update documentation with FAQs</h3>
                                <p class="testimonials__descroption">Review our community chat for the most frequently
                                    asked questions
                                    and document answers for our product docs.</p>
                            </div>

                            <div class="testimonials__bottom">
                                <div class="testimonials__share">
                                    <p class="testimonials__text">10</p>
                                    <p class="testimonials__text">aut</p>
                                </div>
                                <p class="testimonials__date">Apply by May 18</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonials__card">
                        <div class="testimonials__box">
                            <div class="testimonials__content">
                                <h3 class="testimonials__title">Tutorial video series</h3>
                                <p class="testimonials__descroption">Create a series of video tutorials that cover
                                    everything from start to
                                    finish on using Open Enterprise.</p>
                            </div>

                            <div class="testimonials__bottom">
                                <div class="testimonials__share">
                                    <p class="testimonials__text">40</p>
                                    <p class="testimonials__text">aut</p>
                                </div>
                                <p class="testimonials__date">Apply by May 20</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="swiper-slide">
                    <div class="testimonials__card">
                        <div class="testimonials__box">
                            <div class="testimonials__content">
                                <h3 class="testimonials__title">Ideate a list of features based on the Sociocracy model
                                </h3>
                                <p class="testimonials__descroption">We’re looking for someone interested in business
                                    theory and
                                    research that’ll help us bridge the gap between our s...</p>
                            </div>

                            <div class="testimonials__bottom">
                                <div class="testimonials__share">
                                    <p class="testimonials__text">5</p>
                                    <p class="testimonials__text">aut</p>
                                </div>
                                <p class="testimonials__date">Apply by May 15</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonials__card">
                        <div class="testimonials__box">
                            <div class="testimonials__content">
                                <h3 class="testimonials__title">Update documentation with FAQs</h3>
                                <p class="testimonials__descroption">Review our community chat for the most frequently
                                    asked questions
                                    and document answers for our product docs.</p>
                            </div>

                            <div class="testimonials__bottom">
                                <div class="testimonials__share">
                                    <p class="testimonials__text">10</p>
                                    <p class="testimonials__text">aut</p>
                                </div>
                                <p class="testimonials__date">Apply by May 18</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonials__card">
                        <div class="testimonials__box">
                            <div class="testimonials__content">
                                <h3 class="testimonials__title">Tutorial video series</h3>
                                <p class="testimonials__descroption">Create a series of video tutorials that cover
                                    everything from start to
                                    finish on using Open Enterprise.</p>
                            </div>

                            <div class="testimonials__bottom">
                                <div class="testimonials__share">
                                    <p class="testimonials__text">40</p>
                                    <p class="testimonials__text">aut</p>
                                </div>
                                <p class="testimonials__date">Apply by May 20</p>
                            </div>
                        </div>
                    </div>
                </div>



            </div>            
            
            <div class="swiper-pagination"></div>

        </div>
    </div>
</section>