<section class="hero">
    <div class="container hero__container">
        <div class="hero__new-model">
            <h1 class="hero__title title">A new model for open collaboration</h1>
            <p class="hero__subtitle subtitle">Run an organization where members get rewarded for their contributions with fractional ownership.</p>     
        </div>

        <div class="hero__images">
            <img src="./img/icons/icons.svg#clap" alt="two people" class="hero__clap-image">
            <img src="./img/icons/icons.svg#vector" alt="spot" class="hero__background-image">
        </div>

        <button class="hero__button button" type="button">Request early access</button>
    </div>
</section>