<section class="means-to-work">
    <div class="container means-to-work__container">
        <h2 class="means-to-work__title title">Reimagining what it means to work</h2>
        <p class="means-to-work__subtitle subtitle">Teams and communities using Open Enterprise fundamentally unlock a reality of work that reimagines
            how people engage in economic opportunity, meeting the demands and expectations of a modern organization.</p>
        
        <ul class="means-to-work__services services">
            <li>
                <svg width="104" height="88" viewBox="0 0 104 88" fill="none">
                    <use href="./img/icons/icons.svg#icon"></use></svg>
                <h2 class="services__title">Modern workforce</h2>
                <p class="services__description">Multistakeholder governance aligns employees with the organization’s wider community.</p>
            </li>

            <li>
                <svg width="104" height="88" viewBox="0 0 104 88" fill="none">
                    <use href="./img/icons/icons.svg#icon2"></use></svg>
                <h2 class="services__title">Meritocratic by design</h2>
                <p class="services__description">Tokenized ownership aligns deeply committed individuals with the organization’s success.</p>
            </li>

            <li>
                <svg width="104" height="88" viewBox="0 0 104 88" fill="none">
                    <use href="./img/icons/icons.svg#icon3"></use></svg>
                <h2 class="services__title">Engineered for resilience</h2>
                <p class="services__description">Open Enterprise supports best practices in sociocratic management.</p>
            </li>
        </ul>
    </div> 
</section>