<section class="start">
    <div class="container start__container">
        <div class="start__text">
            <h2 class="start__title title">Start an Open Enterprise</h2>
            <p class="start__subtitle subtitle">If you can’t wait to run a new or existing organization on Open Enterprise and
                 are willing to explore and navigate the beta, we’d love to get you started.</p>
            <button class="start__button button" type="button">Request early access</button>
        </div>

        <img src="./img/icons/icons.svg#pablo" alt="pablo-sign-in" class="start__image">
    </div>
</section>